html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  line-height: 1.6;
  font-size: 18px;
}

h1,
h2,
h3,
h3 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
